.container
{
  	/* position: relative; */
  	/* text-align: center; */
	color: white;
}

li{
    font-family: 'Poppins', sans-serif;
    color:aliceblue;
}
.cook{
    font-family: 'Poppins', sans-serif;
}
.eng{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    width: 8%;
    length:10%;
    position: absolute;
    top: 85%;
    left: 03%;
    /* transform: translate(-50%, -50%); */
}
#part1{
    /* position: absolute; */
    top: 0%;
    left: 0%;
    transform: translate(-80%, -80%);
    background-color: bisque;
}
