*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(23, 22, 23);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    
    
}

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 195px;
    background-color: #000000;
    padding: 24px;
}

.sidebar .logo img{
    margin-top: 0px;
    width: 140px;

}

.sidebar .features1 ul{
    list-style: none;
    margin-left: 10px;
    margin-top: 20px;
}

.sidebar .features1 ul li{
    padding: 4px 0;
}

.sidebar .features1 ul li a
{
    color:#cbc7c7;
    text-decoration: none;
    font-weight:600;
    font-size: 14px;
}

/* .sidebar .features2 ul li a:hover,
.sidebar .features2 ul li a:active,
.sidebar .features2 ul li a:focus{

    color: #ffffff;
} */

.sidebar .features2 ul li a
{
    color: #cbc7c7;
    text-decoration: none;
    font-weight:600;
    font-size: 14px;
}

.sidebar .features2 ul{
    list-style: none;
    margin-left: 10px;
    margin-top: 17px;
}

.sidebar .features2 ul li{
    padding: 2px 0;
}

.sidebar .features3 {
    /* position: absolute; */
    padding-top: 100px;
    bottom: 30px;
    font-size: small;
}

.sidebar .features3 ul{
    list-style: none;
}

.sidebar .features3 ul li{
    padding-bottom: 5px;
}

.sidebar .features3 ul li a{
    text-decoration: none;
    font-weight: 500;
    color: #b3b3b3;
    font-size:
}
